<?xml version="1.0" encoding="UTF-8"?>  
  
<plugin>  
    <class>com.helloworld.HelloWorldPlugin</class>  
    <name>helloWorld</name>  
    <description>First Openfire Custom Plugin.</description>  
    <author>xieyuan</author>  
    <version>1.0.0</version>  
    <date>14/08/2014</date>  
    <minServerVersion>3.9.0</minServerVersion>  
      
    <adminconsole>  
    </adminconsole>  
  
</plugin>  