<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <!-- Main plugin class -->
    <class>itaf.framework.openfire.plugin.IntelligenceOrderPlugin</class>
 
    <!-- Plugin meta-data -->
    <name>IntelligenceOrder</name>
    <description>This is the IntelligenceOrder plugin.</description>
    <author>taskmgr</author>
 
    <version>1.0</version>
    <date>15/09/2014</date>
    <url>http://localhost:9090/openfire/plugins.jsp</url>
    <minServerVersion>3.4.1</minServerVersion>
    <licenseType>gpl</licenseType>
 
</plugin>